<div class="container__big-card">

  <div class="big-card__picture">
    <img
     src="https://i.stack.imgur.com/luaq2.png"
     alt=""
     height="200px"
    >
  </div>

  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>

  <div class="big-card__description">
    <p><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis quas reprehenderit facere. Quae atque, quasi obcaecati illum facere modi ut, voluptatibus quis quibusdam illo amet mollitia consequatur? Facilis, eos veniam.</a></p>
  </div>
</div>
