<div class="container__small-card">
  <div class="container__small-card-content">
    <div class="small-card__picture">
      <img
        src="https://pbs.twimg.com/media/GBGtCO_WIAA6g2A?format=jpg&name=small"
        alt=""
      >
    </div>

    <div class="small-card__title">
      <h1><a href="https://x.com/paulo_caelum/status/1734357718037635430?s=20">Saiu o mundo 4 de Python do Curso em video, vai ser na alura???</a></h1>
    </div>
  </div>
  <div class="container__small-card__separator">
    <hr>
  </div>
</div>
